/* 
    DO NOT CHANGE THE CODE BELOW
*/
body {
  font-family: Arial;
  background: #f1f1f1;
  background-color: #f7f7f7;
}

#logo {
  width: 75px;
  height: 50px;
}

#intro-img {
  width: 100%;
  height: 200px;
}

#about-img {
  width: 100%;
  height: 220px;
}

.emphasis {
  color: red;
}

.img-icon {
  width: 25px; 
  height: 25px; 
  margin: 10px 20px;
}

* {
  box-sizing: border-box;
}
/* 
    DO NOT CHANGE THE CODE ABOVE
*/


/* 
    START WRITING YOUR CSS CODE HERE
*/
