/* 
    DO NOT CHANGE THE CODE BELOW
*/

body {
  font-family: Arial;
  background: #f1f1f1;
  background-color: #f7f7f7;
}

#logo {
  width: 75px;
  height: 50px;
}

#intro-img {
  width: 100%;
  height: 200px;
}

#about-img {
  width: 100%;
  height: 220px;
}

.emphasis {
  color: red;
}

.img-icon {
  width: 25px; 
  height: 25px; 
  margin: 10px 20px;
}

* {
  box-sizing: border-box;
}
/* 
    DO NOT CHANGE THE CODE ABOVE
*/


/* 
    START WRITING YOUR CSS CODE HERE
*/

.header a{
  float: left;
  color: darkred;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding: 12px;
}

.header a:hover{
  color: red;
}

.header{
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  padding: 5px;
}

.active{
  color: green;
}


.active { background-color: azure;
  color: grey
}

.header-right{
float: right;
margin-top: 12 px;
}


.left-col{
  float: left;
  width: 75%;
}
.card{
  background-color: #e0e0e0;
  padding: 20px;
  margin-top: 20px;
}

.right-col{
  float: left;
  width: 25%;
  padding: 20px;
  background-color: #afafaf;
}





@media only screen and (max-width: 600px) {

  .header a{
    float: none;
    display: block;
    text-align: left;
  }

  .header-right{
    float: none;
  }

  .left-col{
    width: 100%;
  }
  .right-col{
    width: 100%;
  }

  .card{
    font-size: 30px;
  }
}


img {
  max-width: 100%;
  height: auto;
}